
/* Flex */

.align-justify-center {
  justify-content: center;
}

/* Floats */

.align-left
{
  float:left;
}

.align
{
  margin-right: auto;
  margin-left: auto;
}

.align-right {
  float: right;
}


/* Text */

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}