%radio_input {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    @extend %opacity-none;
}

%radio_label {
    float: left;
    cursor: pointer;
}

%radio_icon {
    float: right;
    fill: $color-mid;
    cursor: pointer;
    @extend %animateThis;
}

/*
 * radio style
 */
.radio_input {
    @extend %radio_input;

    & ~ .radio_icon {
        .radio_icon_checked {
            display: none;
        }

        .radio_icon_unchecked {
            display: block;
        }
    }

    &:checked ~ .radio_icon {
        .radio_icon_checked {
            display: block;
        }

        .radio_icon_unchecked {
            display: none;
        }
    }
}

.radio_label {
    @extend %radio_label;
}

.radio_icon {
    @extend %radio_icon;
}
