.select_wrapper {
    position:relative;
}

    .select_input {
        @extend %input;
        @extend %no-radius;
		color:rgba($color-base,0);
		appearance:none;

		&::-ms-expand {
			display: none;
		}

		&._has-focus {
        	box-shadow:0 0 0 4px rgba($color-beta,0.25);
		}

        &._has-value {
            color:$color-base;
		}
		
	}
	
		.select_trigger {
			width:100%;
			position:absolute;
			top:0; left:0;
			padding:$padding*0.75;
		}

    .select_label {
        @extend %input_label;
        pointer-events:none;
    }

    .select_icon {
		position:absolute;
		line-height:1;
        right:$padding; top:50%;
        margin-top:-6px;
        pointer-events:none;
        color:$color-mid;
    }

.select_dropdown {
    position:absolute;
    top:100%; left:0;
    width:100%;
    border:1px solid $color-light;
    border-top:none;
    background-color:white;
    z-index:2; // Might not need this outside of Foundry
}

    .select_search {
		border-bottom:1px solid $color-light;
    }

    .select_options {
		@extend %blank_list;
		overflow:auto;
        -webkit-overflow-scrolling: touch;
        max-height:15rem;
        
    }

        .select_option {
            cursor:pointer;
            padding:$padding-half $padding;
			margin-top:0 !important;
			
			&:hover {
				background-color:$color-washed;
			}

            &._is-active {
				background-color:rgba($color-beta,0.25);
                border-top:none!important;
            }

            &:focus { outline:none }

        }

.select-inline {
    font-size:1rem;
    padding:$padding-half/2;
    border:none;
    border-bottom:1px solid $color-light;
    border-radius:0;
    min-width:8rem;
    
    &._has-focus {
        box-shadow:none;
    }

    & ~ .select_dropdown {
        .select_option { padding:$padding-half/2 }
    }
    
}